name: Windows Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Set up CMake
      uses: jwlawson/actions-setup-cmake@v1.13
      with:
        cmake-version: '3.21.x'

    - name: Configure CMake
      run: .\scripts\configure.sh -G "Visual Studio 17 2022" -A x64
      shell: pwsh

    - name: Build
      run: .\scripts\build.sh --config Release
      shell: pwsh
